<web-app xmlns="http://jakarta.ee/xml/ns/jakartaee" version="5.0">
    <servlet>
        <servlet-name>AddEmployeeServlet</servlet-name>
        <servlet-class>servlet.AddEmployeeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddEmployeeServlet</servlet-name>
        <url-pattern>/addEmployee</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GeneratePayrollServlet</servlet-name>
        <servlet-class>servlet.GeneratePayrollServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GeneratePayrollServlet</servlet-name>
        <url-pattern>/generatePayroll</url-pattern>
    </servlet-mapping>
</web-app>
